<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body style="font-family: none;background-image: url(https://i.pinimg.com/originals/df/fe/e4/dffee4123447e1bd295ab8759c9846eb.jpg);">
	<header th:replace="plantilla/template :: header"></header>

<div class="container">
	</br>
	</div>
	<div class="container">
	<div class="container">

		<div style="width: 700px;color:black; background: #2a1e1e!important;">
			<div class="card-header bg-black  text-white" th:text="${titulo}">

			</div>
				<div class="card-body" style=" background: #272423;">

			
				<form th:action="@{/guardarproveedor}"th:object="${proveedor}"method="POST">
				
					<div class="form-group row">
					<input type="hidden" th:field="*{idproveedor}" class="form-control form-control-sm col-6" id="idproveedor">
					</div>
 
					<div class="form-group row">
						<label class="col-md-2" for="nomproveedor" style="color: white;">Proveedor</label>
						 <input th:field="*{nomproveedor}"  
							type="text" class="form-control form-control-sm col-6"
							id="nomcurso" placeholder="nomproveedor"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-2" for="direccion" style="color: white;">Direccion</label>
						 <input th:field="*{direccion}"  
							type="text" class="form-control form-control-sm col-6"
							id="nomcurso" placeholder="direccion"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-2" for="telefono" style="color: white;">telefono</label>
						 <input th:field="*{telefono}"  
							type="text" class="form-control form-control-sm col-6"
							id="nomcurso" placeholder="telefono"> <small></small>
					</div>
					
				
					<div class="card-footer bg-black">
						<input type="submit" class="btn btn-primary btn-sm"
							value="Guardar" />
						<a th:href="@{/listarproveedor}" class="btn btn-primary btn-sm">Regresar</a>
					</div>
					
				</form>

			</div>
		</div>
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>