<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body style="font-family: none;background-image: url(https://i.pinimg.com/originals/df/fe/e4/dffee4123447e1bd295ab8759c9846eb.jpg);">
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
		<h1 style="text-align: center; color: white;" th:text="${titulo}"></h1>
	
	</div>

	<div class="container">
	
		<a class="btn btn-primary btn-sm" th:href="@{/crearproveedor}"
			th:text="'Nuevo Proveedor'" title="Crear proveedor"></a>
			
			<div class="container">
				<h1 style="text-align: center;"></h1>
		
			</div>
	
		<table class="table table-dark table-hover">
			<thead class="thead-white">
				<th scope="col">Id</th>
				<th scope="col">Proveedor</th>
				<th scope="col">Direccion</th>
				<th scope="col">Telefono</th>
				
				<th scope="col">Acciones</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</thead>

			<tbody>
				<tr th:each="prov:${proveedor}">
					<th scope="row" th:text="${prov.idproveedor}"></th>
					<td th:text="${prov.nomproveedor}"></td>
					<td th:text="${prov.direccion}"></td>
					<td th:text="${prov.telefono}"></td>

					
						<td>
						<a class="btn btn-primary btn-sm" th:href="@{/editarproveedor/} + ${prov.idproveedor}"
							th:text="'Editar Proveedor'" title="Editar proveedor"></a>
					</td>
					
					
					<td>
						<a class="btn btn-danger btn-sm" th:href="@{/eliminarproveedor/} + ${prov.idproveedor}"
							th:text="'Eliminar'" title="Eliminar Registro"
							onclick="return confirm('Esta seguro de eliminar el Registro?');"></a>
					</td>			
								
				</tr>
			</tbody>
			
		</table>
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>